{% if GITHUB_URL %}
<a href="{{ GITHUB_URL }}">
{% if GITHUB_POSITION == "right" %}
<!-- <img style="position: absolute; top: 0; right: 1em; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /> -->
<img style="position: relative; top: 10em; right: 1em; border: 0; height:3em" src="images/icon_github-logo-30.png" alt="Code on GitHub" />
{% else %}
<img style="position: absolute; top: .7em; left: 1em; border: 0;height:3em;" src="images/icon_github-logo-30.png"
 alt="Code on GitHub" />
{% endif %}
</a>
{% endif %}
