<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>
        {% block title %}
        {{ SITENAME }}
        {%endblock%}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.min.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" />
    <script src="{{ SITEURL }}/theme/js/custom.modernizr.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ SITEURL }}/theme/images/icons/favicon.png">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/favicon.png"> -->
</head>

<body>

<!-- Title Bar -->
<nav>
    <div class="top-bar">
    <div class="row">
        <div class="large-12 large-centered columns">
            <img style="
            /* position: absolute;  */
            top: 5em; left:5em; margin-left: 2em; border: 0; height:3em; float:left;"
            src="images/latent_circ.png"
            alt="" />
            <h1><a
                style="float:left; margin-left: .3em;"
                href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
            <a href="{{ GITHUB_URL }}">
                <img
                style="float: right; margin-right: 2em; border: 0; height:2em" src="images/icon_github-logo-30.png" alt="Code on GitHub" />
            </a>
        </div>
</div>
</div>

<!-- Show menu items and pages -->
<div class="row">
    <ul class="hor-nav">
        {% for title, link, url in PAGES %}
        {% if url + ".html" == output_file %}
        <li><a class="light" href="{{ SITEURL }}/{{ link }}">{{ title }}</a></li>
        {% else %}
        <li><a href="{{ SITEURL }}/{{ link }}"> {{ title }}</a></li>
        {% endif %}
        {% endfor %}
        {% for title, link in LINKS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
<div class="large-12 large-centered columns" >
</div>
</div>
</nav>
<!-- End Nav -->

<!-- Main Page Content and Sidebar -->
<div class="row">
    <!-- Sidebar -->
    <aside class="large-3 columns">
        <h5 class="sidebar-title">   </h5>
        <ul class="side-nav">
          <!-- <li> <a> {{output_file}} </a></li> -->
          {% for page in pages %}
            {% if page.url == output_file %}
              <li><a>{{ page.toc }}</a></li>
            {% endif %}
          {% endfor %}
            <!-- {% if output_file.toc %}
                {{output_file.toc}}
            {% endif %} -->
            <!-- {% for title, url in LINKS %}
            <li><a href="{{ url }}"
                >{{ title }}</a></li>
                {% endfor %} -->
            </ul>
        </aside> <!-- End Sidebar -->

    <!-- Main Content -->
    <div class="large-9 columns">
    {% block content %}{% endblock %}
    </div>
    <!-- End Main Content -->

</div> <!-- End Main Content and Sidebar -->


<!-- Footer -->
<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-12 columns">
                <small>
                    <p>
                        <a href="/">{{ SITENAME }}</a> by
                        <a href="https://github.com/bgerazov">{{ AUTHOR }}</a>.
                <!-- </p> -->
                <!-- <p> -->
                        Powered by <a href="http://getpelican.com/">Pelican</a>
                        and based on <a href="https://github.com/getpelican/pelican-themes/tree/master/tuxlite_zf">TuxLite ZF</a>  theme.
                    </p>
                    <p>
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>  The content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons BY-NC 4.0 License</a>.
                    </p>
                </small>
            </div>
            </div>
    </div>
{% include "analytics.html" %}
</footer>
