<li>
  <a href="http://ec.europa.eu/commission/index_en" />
  <img
    title="European Commission"
    src="images/logo_ec.png"
    alt="European Commission"
  />
</li>
<li>
  <a href="http://ec.europa.eu/research/mariecurieactions/" />
  <img
  title="Marie Skłodowska-Curie Actions"
  src="images/logo_msca.png"
  alt="Marie Skłodowska-Curie Actions"
  />
</li>
  <a href="http://www.gipsa-lab.fr" />
  <img
  title="GIPSA-lab"
  src="images/logo_gipsa.png"
  alt="GIPSA-lab"
  />
</li>
<li>
  <a href="http://www.feit.ukim.edu.mk" />
  <img
  title="Faculty of Electrical Engineering and Information Technologies"
  src="images/logo_feeit.png"
  alt="Faculty of Electrical Engineering and Information Technologies"
  />
</li>
