<li>
  <a href="http://www.gipsa-lab.fr">
  <img
  title="GIPSA-lab"
  src="images/logo_gipsa.png"
  alt="GIPSA-lab"
  ></img></a>
</li>
<li>
  <a href="http://www.feit.ukim.edu.mk">
  <img
  title="Faculty of Electrical Engineering and Information Technologies"
  src="images/logo_feeit.png"
  alt="Faculty of Electrical Engineering and Information Technologies"
  ></img></a>
</li>
<li>
  <a href="https://www.ucl.ac.uk/">
    <img
    style="height:4em;"
    title="University College London"
    src="images/logo_ucl.png"
    alt="University College London, UK"
    ></img></a>
  </li>
<li>
  <a href="http://www.idiap.ch">
  <img
  style="height:3em;"
  title="Idiap Research Institute"
  src="images/logo_idiap.png"
  alt="Idiap Research Institute"
  ></img></a>
</li>
